
body{
    background-color: black;
    color: white;
}
* {
  box-sizing: border-box;
    
}
.container{
    margin-top: 20px;
 

}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  display: grid;
   
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
   

}